.vscode/
ALOHA/*.o 
CSMA/*.o

ALOHA/*.sh
CSMA/*.sh

ALOHA/*.txt
CSMA/*.txt

ALOHA/traffic_file
ALOHA/aloha
ALOHA/slotted_aloha
ALOHA/traffic_generator

CSMA/persist
CSMA/traffic_file
CSMA/traffic_generator

Multiplot/

ALOHA/*.dat 
CSMA/*.dat 